@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#wrapper {
    border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    background: linear-gradient(315deg, #C8DCE5 0%, #B6CCDA 100%);
    padding: 2rem;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#inputField{
    position: relative;
    right: -3rem;
    width: 12.4375rem;
    height: 2.625rem;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: rgba(255, 255, 255, 0.27);
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem;
    padding-right: 2.5rem;
    border: 0;
    outline: 0;
    z-index: 0;
    display: none;
}

#searchBarIcon{
    z-index: 1;
}

main {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

#content {
    margin-top: 2rem;
}

h1 {
    font-size: 7.78vw;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04rem;

}

p {
    font-size: 7.78vw;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04rem;
}

#btn {
    width: 9.4375rem;
    height: 3.625rem;
    flex-shrink: 0;
    background: linear-gradient(315deg, #C8DCE5 0%, #B6CCDA 100%);
    border-radius: 6.25rem;
    border: 3px solid #FFF;
    color: #FFFAFA;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2rem;
}

#images {
    margin-top: 6vh;
    margin-bottom: 13.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#mainWatches {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


#shadow {
    margin-top: 10%;
    border: solid;
    fill: #ABC6D6;
    filter: blur(21px);
    width: 8rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    padding: 1rem;
    overflow: hidden;
}

#footerOptions {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#menuBarIcon{
    z-index: 2;
}


/* Hover on icons */

#appleIcon:hover,
#searchBarIcon:hover,
#shoppingBagIcon:hover {
    cursor: pointer;
}

#btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#menuBarIcon:hover,
#facebookIcon:hover,
#twitterIcon:hover,
#linkedinIcon {
    cursor: pointer;
}

/* MenuBar Options */
#menuBarOptions ul{
    position: absolute;
    background-color: #FFF;
    left: 0;
    top: 0;
    bottom: 0;
    width: 63.5vw;
    z-index: 1;
    padding-top: 3rem;
    display: none;
}

#menuBarOptions ul li{
    list-style: none;
    /* text-align: center; */
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.9375rem; 
    
}

a{
    text-decoration: none;
    color: #ABC6D6;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
a:hover{
    color: #404354;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


#optionWatchs{
    display: none;
}


/* Image 2 is OFF */
#image2{
    display: none;
}

/* Media Query for width 1080px */

@media screen and (min-width: 1080px) {
    #mainWrapper{
        display: flex;
        flex-direction: row-reverse;
    }
    #wrapper{
        width: 93.2vw;
    }
    #images{
        margin-bottom: 0;
    }
    #image1{
        display: none;
    }
    #image2{
        display: block;
        width: 27.3rem;
    }

    main{
        
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    #content{
        margin-top: 8.9rem;
    }
    h1, p{
        font-size: 3.7vw;
    }
    #shadow{
        margin-top: 5%;
        margin-bottom: 8%;
    }

    footer{
        width: 6.8vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 70vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        
    }


    #footerOptions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    /* MenuBar Change */
    #menuBarOptions ul{
        display: block;
        background-color: transparent;
        display: grid;
        grid-template-rows: repeat(1,1fr);
        grid-template-columns: repeat(5,1fr);
        margin: 0;
        padding: 0;
        margin-top: 2rem;
        margin-left: 9rem;
        height: 4rem;
        width: 50rem;
        column-count: 5;
    }
    #menuBarOptions ul li{
        margin: 0;
        padding: 0;
    }
    #menuBarOptions a{
        color: #FFF;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menuBarOptions a:hover{
        color: #B6CCDA;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 8.125rem;
        height: 2.25rem;
        flex-shrink: 0;
        border-radius: 6.25rem;
        background: #FFF;
    }

    /* Options Watches */
    #optionWatchs{
        display: block;
    }
    #optionWatchs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 3rem;
    }
    #greyWatch{
        width: 8.1875rem;
        height: 4.375rem;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background: rgba(67, 69, 88, 0.60);
        display: flex;
        align-items: end;
        justify-content: center;
    }
    #greenWatch{
        width: 8.1875rem;
        height: 4.375rem;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background: rgba(106, 221, 204, 0.60);
        display: flex;
        align-items: end;
        justify-content: center;
    }
    #pinkWatch{
        width: 8.1875rem;
        height: 4.375rem;
        flex-shrink: 0;
        border-radius: 0.625rem;
        background: rgba(249, 205, 196, 0.60);
        display: flex;
        align-items: end;
        justify-content: center;
    }
}


/* Media Query for wisth 1280 */
@media screen and (min-width: 1280px) {
    h1, p{
        font-size: 4.941vw;
    }
    #menuBarOptions ul{
        margin-left: 13%;
    }
    #content{
        margin-top: 5rem;
    }

    #images{
        margin: 0;
    }
    #optionWatchs{
        margin-top: 14%;
    }
    footer{
        padding-top: 2rem;
    }
}

/* Media Query for width 1400 */
@media screen and (min-width:1400px) {
    #wrapper{
        height: 100vh;
    }
}

/* Media Query for width 1920 */
@media screen and (min-width: 1920px) {
    #wrapper{
        padding: 4rem;
        height: 100vh;
    }
    #menuBarOptions ul{
        margin-top: 4rem;
    }
    main{
        margin-top: 3%;
    }
    #image2{
        width: 600px;
    }
    #optionWatchs{
        margin-top: 15%;
        gap: 3rem;
    }
}



/* Media Query for width 3840*/
@media screen and (min-width: 3840px) {
    #wrapper, footer{
        height: 100vh;
    }
    #image2{
        width: 1000px;
    }
    #optionWatchs{
        margin-top: 10rem;
        margin-bottom: 20rem;
        gap: 8rem;
    }
}
