@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#wrapper {
    border-radius: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    background: linear-gradient(315deg, #C8DCE5 0%, #B6CCDA 100%);
    padding: 2rem;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#inputField{
    position: relative;
    right: -3rem;
    width: 12.4375rem;
    height: 2.625rem;
    flex-shrink: 0;
    border-radius: 6.25rem;
    background: rgba(255, 255, 255, 0.27);
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem;
    padding-right: 2.5rem;
    border: 0;
    outline: 0;
    z-index: 0;
}

#searchBarIcon{
    z-index: 1;
}

main {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

#content {
    margin-top: 2rem;
}

h1 {
    font-size: 7.78vw;
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.04rem;

}

p {
    font-size: 7.78vw;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04rem;
}

#btn {
    width: 9.4375rem;
    height: 3.625rem;
    flex-shrink: 0;
    background: linear-gradient(315deg, #C8DCE5 0%, #B6CCDA 100%);
    border-radius: 6.25rem;
    border: 3px solid #FFF;
    color: #FFFAFA;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2rem;
}

#images {
    margin-top: 6vh;
    margin-bottom: 13.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#mainWatches {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


#shadow {
    margin-top: 10%;
    border: solid;
    fill: #ABC6D6;
    filter: blur(21px);
    width: 8rem;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    padding: 1rem;
    overflow: hidden;
}

#footerOptions {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#menuBarIcon{
    z-index: 2;
}


/* Hover on icons */

#appleIcon:hover,
#searchBarIcon:hover,
#shoppingBagIcon:hover {
    cursor: pointer;
}

#btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#menuBarIcon:hover,
#facebookIcon:hover,
#twitterIcon:hover,
#linkedinIcon {
    cursor: pointer;
}

/* MenuBar Options */
#menuBarOptions{
    position: absolute;
    left: 0;
    top: 0;
    width: 64vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6rem;
    background-color: #FFF;
    z-index: 1;
    display: none;
}

#menuBarOptions a{
    text-decoration: none;
    color: #ABC6D6;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    height: 3.9375rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#menuBarOptions a:hover{
    color: #404354;
    font-weight: 600;
    flex-shrink: 0;
    background: #EFF6FB;
}

/* Image 2 is OFF */
#image2{
    display: none;
}

/* Media Query for width 992px */

@media screen and (min-width: 992px) {

    body{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    #wrapper{
        width: 95rem;
    }

    #image1{
        display: none;
    }
    #image2{
        display: block;
        width: 27.3rem;
    }

    main{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    #content{
        margin-top: 8.9rem;
    }
    h1, p{
        font-size: 3.781vw;
    }

    footer{
        height: 100vh;
        width: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #footerOptions{
        display: flex;
        flex-direction: column;
    }

    /* MenuBar Change */
    #menuBarOptions{
        height: 4rem;
        /* width: 8.125rem; */
        margin-top: 1rem;
        margin-left: 8rem;
        padding-top: 1.5rem;
        column-count: 5;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        background-color: transparent;
        flex-shrink: 0;
    }
    #menuBarOptions a{
        margin: 0;
        height: 2.25rem;
        width: 8rem;
        color: #FFF;
        flex-shrink: 0;
        /* font-size: 1.125rem; */
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    #menuBarOptions a:hover{
        width: 8rem;
        /* height: 2.25rem; */
        /* flex-shrink: 0; */
        color: #B6CCDA;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 6.25rem;
        background: #FFF;
    }
}










